.page {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*Layout блоки*/
.layout {
    display: flex;
    height: 100%;
    width: 100%;
}

.layout__sidebar {
    width: 72px;
    height: 100%;
}

.layout__sidebar-nav {
    margin-top: 10px;
    margin-left: 15px;
    height: 40px;
    width: 40px;
}

.layout__content {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/*пост пользователя*/
.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 93px;
    overflow-y: auto;
    overflow-x: hidden;
}

.post__avatar {
    display: flex;
    height: 123px;
    width: 123px;
    border-radius: 20px;
    object-fit: cover;
}

.post__name {
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.25px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

.post__bio {
    width: 361px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    color: #222222;
    text-align: center;
    line-height: 1.4;
}

.post__stats {
    padding-bottom: 20px;
    height: 30px;
    width: 101px;
    gap: 6px;
    border-radius: 6px;
}

.post__gallery {
    display: flex;
    width: 972px;
    height: auto;
    flex-wrap: wrap;
    gap: 3px;
}

.post__photo {
    width: 322px;
    height: 322px;
    border-radius: 2px;
    object-fit: cover;
}