.login {
    display: flex;
    min-height: 90vh;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 50px 50px;
}

.login__hero {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 50px;
}

.login__image {
    display: block;
     width: 462px; 
     height: 501px;
}

.login__title {
    position: absolute;
    top: -175px;
    left: 350px;
    color: black;
    font: Bold 140px Regular, sans-serif;
    letter-spacing: -1.5px;
}

.login__form-wrapper {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding-left: 50px;
}

.login__form {
    width: 343px;
    height: 171px;
}

.login__field {
    margin-bottom: 20px;
}

.login__label {
    display: block;
    color: black;
    font: 400 15px Regular, sans-serif;
    margin-bottom: 5px;
}

.login__input {
    width: 343px;
    height: 44px;
    padding: 13px 12px;
    margin-bottom: 5px;
    border: none;
    background-color: #ccc;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.login__hint {
    display: block;
    color: gray;
    font: 400 13px Regular, sans-serif;
    margin-top: 5px;
}

.login__button {
    width: 343px;
    height: 48px;
    padding: 0 16px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font: 500 16px medium, sans-serif;
    cursor: pointer;
    margin-top: 20px;
}

